.single {
    &__wrap {
        margin: 0 auto 50px;
        width: 85%;

        @include device(desktop) {
            width: 90%;
        }
    }

    &__heading {
        border-bottom: 1px solid #c0c0c0;
        margin: 35px 0 20px;
        padding-bottom: 50px;
        text-align: center;

        @include device(desktop) {
            padding-bottom: 24px;
            margin: 35px 0 25px;
        }

        h3 {
            font-family: Shippori Mincho, Noto Serif JP, serif;
            @include font-size (20px);
            font-weight: normal;

            @include device(desktop) {
                @include font-size (30px);
            }
        }

        p {
            @include device(desktop) {
            opacity: 0.5; 
            }
        }
    }

    &-category {
        margin-right: 52px;
    }

    &-title {
        @include font-size (20px);
        font-family: Shippori Mincho, Noto Serif JP, serif;
        font-weight: normal;
        margin: 30px 0 ;  

        @include device(desktop){
            @include font-size (30px);
            letter-spacing: 2px;
            margin: 60px 0 45px;  
        }
    }
    &-content {
        p {
            line-height: 2;
        }
    }
}