$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    @include font-size(14px);
    line-height: 1.5;
    font-family: 'Noto Serif JP', "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", '小塚ゴシック Pro', 'Kozuka Gothic Pro', $font-family-sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: #222;
  }


a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


// 共通　リンク用矢印ボタン

.btn__default {
    height: 64px;
    font-family: 'Noto Serif JP', serif;
    letter-spacing: 1px;
    display: block;
    display: flex;
    align-items: center;
    
    span {
      margin-left: 15px;
    } 
}


// 共通　詳細ページ見出し

.detail__heading {
      &__wrap {
          @include device(desktop) {
              display: flex;
          }
      }

      &__title {
          background-color: #6C7E64;
          color: #fff;
          width: 100%;

          @include device(desktop) {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40%;
          }

          &-text {
              margin-left: 9%;
              padding: 45px 0;

              @include device(desktop) {
                  margin-right: 10%;
                  margin-bottom: 125px;
              }

              p {
                  color: #fff;
                  @include font-size (14px);
                  margin-bottom: 10px;

                  @include device(desktop) {
                      @include font-size (20px);
                      margin-bottom: 40px;
                  }
              }

              h3 {
                  font-family: 'Shippori Mincho', serif;
                  @include font-size (20px);
                  font-weight: normal;

                  @include device(desktop) {
                      @include font-size (50px);
                      letter-spacing: 2px;
                  }
              }
          }
      }

      &-image  {
          width: 100%;

          @include device(desktop) {
              text-align: center;
              width: 60%;
          }

          img {
              width: 100%;

              @include device(desktop) {
                  margin: 88px auto;
                  width: 90%;
              }
          }
      }
}